<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../common/commonHeader'); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         <link
            href="./admin/assets/plugins/flatpickr/flatpickr.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
       <div class="app align-content-stretch d-flex flex-wrap">
          <%- include('../common/commonSidebar' , {sidebarData : sidebarDataByServer}); %>
            <%- include('../common/commonModals'); %>
            <div class="app-container">
                <div class="d-flex flex-column">
                    <div class="app-content">
                        <h1 class="application-title pb-1">
                            Card Issuers
                        </h1>
                    </div>
                    <div
                        style="
                            display: flex;
                            margin-bottom: 10px;
                            gap: 10px;
                            margin-left: auto;
                        "
                    >
                        <button
                            class="btn btn-success"
                            id="filterReset"
                        >
                            Reset Filters
                        </button>
                        <button class="btn btn-primary" onclick="window.location.href = '/cardissuers-list-new'">
                            Add Item
                        </button>
                        <button class="btn btn-info">Export csv</button>
                    </div>
                </div>
                <div class="card" style="padding: 10px 10px;">
                    <header class="card-header d-flex justify-content-between" >
                        <div
                            class="d-flex align-items-center"
                            style="margin-bottom: 20px; gap: 12px"
                        >
                            <select
                                name="entriesPerPage"
                                id="entriesPerPage"
                            >
                                 <option value="5">5</option>
                                 <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                            <label
                                for="entriesPerPage"
                                style="color: rgb(128, 128, 128)"
                            >
                                entries / page</label
                            >
                        </div>
                        <icon class="material-icons material-symbols-outlined" style="cursor: pointer;"  data-bs-toggle="collapse" href="#table-filter-row" role="button"  >
                            filter_list
                        </icon>
                        
                    </header>
                    <!-- <div class="collapse" id="collapseExample">
                            <div class="card card-body ">
                                <div class="filterBox">
                                    <div class="contains">
                                    </div>

                                    <div class="dateRange">
                                        
                                    </div>
                                    <div class="selectField">
                                       
                                    </div>

                                </div>
                            </div>
                        </div> -->
                    <table class="table">
                        <thead
                            style="
                                color: rgb(
                                    128,
                                    128,
                                    128
                                ) !important;
                            "
                        >
                            <tr
                                    style="text-align: center"
                                    id="table-header"
                                    data-filter-value="0"
                                    data-filter="none"
                                >
                                <!--id-->
                                <th
                                        data-filter-value="0"
                                        data-filter="id"
                                        style="color: rgb(128, 128, 128) !important;
                                        width: 100px !important; text-align: center;"
                                    >
                                    <div class="d-flex ">
                                        <span
                                                style="cursor: pointer"
                                                data-filter="id"
                                                >ID
                                        </span>
                                        <icon
                                            data-filter="id"
                                            class="material-icons material-symbols-outlined invisible"
                                            style="
                                                cursor: pointer;
                                                
                                            "
                                        >
                                            straight
                                        </icon>
                                    </div>
                                </th>
                                <!-- IssuerName -->
                                <th
                                        data-filter-value="0"
                                        data-filter="IssuerName"
                                        style="color: rgb(128, 128, 128) !important"
                                    >
                                    <div class="d-flex ">
                                        <span
                                                style="cursor: pointer"
                                                data-filter="IssuerName"
                                                >Name</span
                                            >
                                            <icon
                                                data-filter="IssuerName"
                                                class="material-icons material-symbols-outlined invisible"
                                                style="
                                                    cursor: pointer;
                                                    
                                                "
                                            >
                                                straight
                                            </icon>
                                    </div>
                                </th>     
                                <!-- ApplyNow -->
                                <th
                                        data-filter-value="0"
                                        data-filter="creditreportshow"
                                        style="color: rgb(128, 128, 128) !important"
                                    >
                                    <div class="d-flex ">
                                        <span
                                                style="cursor: pointer"
                                                data-filter="creditreportshow"
                                                >CRS
                                        </span>
                                        <icon
                                            data-filter="creditreportshow"
                                            class="material-icons material-symbols-outlined invisible"
                                            style="
                                                cursor: pointer;
                                                
                                            "
                                        >
                                            straight
                                        </icon>
                                    </div>
                                </th>   
                                
                                <th
                                data-filter-value="0"
                                data-filter="ApplyNow"
                                style="color: rgb(128, 128, 128) !important"
                            >
                            <div class="d-flex ">
                                <span
                                        style="cursor: pointer"
                                        data-filter="ApplyNow"
                                        >Apply Now
                                </span>
                                <icon
                                    data-filter="ApplyNow"
                                    class="material-icons material-symbols-outlined invisible"
                                    style="
                                        cursor: pointer;
                                        
                                    "
                                >
                                    straight
                                </icon>
                            </div>
                        </th>  
                                
                                <!-- published_at -->
                                <th
                                        data-filter-value="0"
                                        data-filter="published_at"
                                        style="color: rgb(128, 128, 128) !important"
                                    >
                                    <div class="d-flex ">
                                        <span
                                                style="cursor: pointer"
                                                data-filter="published_at"
                                                >Published
                                        </span>
                                        <icon
                                            data-filter="published_at"
                                            class="material-icons material-symbols-outlined invisible"
                                            style="
                                                cursor: pointer;
                                                
                                            "
                                        >
                                            straight
                                        </icon>
                                    </div>
                                </th>
                                <!-- updated_at -->
                                <th
                                        data-filter-value="0"
                                        data-filter="updated_at"
                                        style="color: rgb(128, 128, 128) !important"
                                    >
                                    <div class="d-flex ">
                                        <span
                                                style="cursor: pointer"
                                                data-filter="updated_at"
                                                >Updated At
                                        </span>
                                        <icon
                                            data-filter="updated_at"
                                            class="material-icons material-symbols-outlined invisible"
                                            style="
                                                cursor: pointer;
                                                
                                            "
                                        >
                                            straight
                                        </icon>
                                    </div>
                                </th>
                               <th
                                        data-filter-value="0"
                                        data-filter="actions"
                                        style="color: rgb(128, 128, 128) !important"
                                    >
                                    <div class="d-flex ">
                                        <span
                                                style="cursor: pointer"
                                                data-filter="actions"
                                                >Actions
                                        </span>
                                        <icon
                                            data-filter="actions"
                                            class="material-icons material-symbols-outlined invisible"
                                            style="
                                                cursor: pointer;
                                                
                                            "
                                        >
                                            straight
                                        </icon>
                                    </div>
                                </th>
                            </tr>
                            
                            <hr/>
                        </thead>
                            <tr id="table-filter-row"  style="border-bottom: 1px solid rgb(199, 199, 199)">
                                <th>
                                    <input
                                            type="text"
                                            name="id"
                                            class="form-control"
                                            id="id"
                                        />
                                </th>
                                <th>
                                    <input
                                        type="text"
                                        name="IssuerName"
                                        class="form-control"
                                        id="IssuerName"
                                    />
                                </th>
                                <th>
                                    <select
                                        id="creditreportshow"
                                        name="creditreportshow"
                                        class="form-control"
                                    >
                                        <option value="any">Select one</option>
                                        <option value="true">true</option>
                                        <option value="false">false</option>
                                    </select>
                                </th>
                                <th>
                                    <select
                                        id="ApplyNow"
                                        name="ApplyNow"
                                        class="form-control"
                                    >
                                        <option value="any">Select one</option>
                                        <option value="true">true</option>
                                        <option value="false">false</option>
                                    </select>
                                </th>

                                <th>
                                    <select
                                            id="published_at"
                                            name="published_at"
                                            class="form-control"
                                        >
                                            <option value="any">Select Publish Type</option>
                                            <option value="Draft">Draft</option>
                                            <option value="Published">Published</option>
                                    </select>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        <tbody id="data-to-show">
                            <tr>
                                <td colspan="10">
                                    <div class="d-flex justify-content-center align-items-center">
                                                <div class="sbl-circ-path"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td
                                    colspan="10"
                                    style="
                                        text-align: center;
                                        color: black !important;
                                    "
                                >
                                    <div
                                        class="display: flex; align-items: center; justify-content: center; flex-direction: column;"
                                    >
                                    <%# prevPageBtn %>
                                        <span
                                            class="material-icons material-symbols-outlined"
                                            style="
                                                position: relative;
                                                top: 4px;
                                                right: 8px;
                                                font-size: 18px;
                                                color: white;
                                                background: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                                padding: 2px;
                                                border-radius: 50%;
                                                cursor: pointer;
                                            "
                                            id="prevPage"
                                        >
                                            west
                                        </span>
                                    <%# total pages label %>
                                        <label
                                            for="pageNo"
                                            style="
                                                margin-right: 10px;
                                                color: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                            "
                                            >Page No:</label
                                        >
                                    <%# input %>
                                        <input
                                            type="number"
                                            style="
                                                width: 50px;
                                                display: inline;
                                                height: 20px;
                                                border-radius: 0 !important;
                                                padding-right: 0 !important;
                                                padding-left: 2px !important;
                                            "
                                            id="page-no"
                                            name="pageNo"
                                            class="form-control"
                                            max="50"
                                            min="1"
                                            value="1"
                                        />
                                    <%# /50 %>    
                                    
                                        <span
                                            style="
                                                margin-left: 10px;
                                                color: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                            "
                                            id="pages"
                                            >/ 50</span
                                        >
                                    <%# no of entries %>    

                                        <span
                                            style="
                                                margin-left: 10px;
                                                color: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                            "
                                            id="entries"
                                            >(2000 entries)</span
                                        >
                                    
                                        <span
                                            class="material-icons material-symbols-outlined"
                                            style="
                                                position: relative;
                                                top: 4px;
                                                left: 8px;
                                                font-size: 18px;
                                                color: white;
                                                background: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                                padding: 2px;
                                                border-radius: 50%;
                                                cursor: pointer;
                                            "
                                            id="nextPage"
                                        >
                                            east
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        <!-- Javascripts -->
        <script src="./admin/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
        <script src="./admin/assets/plugins/bootstrap/js/popper.min.js"></script>
        <script src="./admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="./admin/assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
        <script src="./admin/assets/plugins/pace/pace.min.js"></script>
        <script src="./admin/assets/plugins/highlight/highlight.pack.js"></script>
        <script src="./admin/assets/js/main.min.js"></script>
        <script src="./admin/assets/js/custom.js"></script>
        <script src="./admin/assets/plugins/flatpickr/flatpickr.js"></script>
       <script src="./admin/assets/js/utils/blockModalsEsacping.js"></script><script src="./admin/assets/js/common.js"></script>
       <script src="./admin/assets/js/cardIssuers.js"></script>
    </body>
</html>
