<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../common/commonHeader'); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
            href="./admin/assets/plugins/flatpickr/flatpickr.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
       <div class="app align-content-stretch d-flex flex-wrap">
          <%- include('../common/commonSidebar' , {sidebarData : sidebarDataByServer}); %>
            <%- include('../common/commonModals'); %>
            <div class="app-container ci-table-padding">
                <div class="d-flex flex-column">
                    <div class="app-content">
                        <h1 class="application-title pb-1">
                            Approved Applications
                        </h1>
                    </div>
                    <div
                        style="
                            display: flex;
                            margin-bottom: 10px;
                            gap: 10px;
                            margin-left: auto;
                        "
                    >
                        <button
                            class="btn btn-success"
                            id="filterReset"
                        >
                            Reset Filters
                        </button>
                        <button class="btn btn-info">Export csv</button>
                    </div>
                </div>
                <div class="card ci-scrollX">
                    <header class="card-header d-flex justify-content-between" >
                        <div
                            class="d-flex align-items-center"
                            style="margin-bottom: 20px; gap: 12px"
                        >
                            <select
                                name="entriesPerPage"
                                id="entriesPerPage"
                            >
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                            <label
                                for="entriesPerPage"
                                style="color: rgb(128, 128, 128)"
                            >
                                entries / page</label
                            >
                        </div>
                        <icon class="material-icons material-symbols-outlined" style="cursor: pointer;"  data-bs-toggle="collapse" href="#table-filter-row" role="button"  >
                            filter_list
                        </icon>
                        
                    </header>
                    <!-- <div class="collapse" id="collapseExample">
                            <div class="card card-body ">
                                <div class="filterBox">
                                    <div class="container" >
                                        
                                    </div>
                                   

                                </div>
                            </div>
                    </div> -->
                    <table class="table">
                        <thead
                            style="
                                color: #7B8CB6 !important;
                            "
                        >
                        <tr
                                style="text-align: center"
                                id="table-header"
                                data-filter-value="0"
                                data-filter="none"
                                data-ignore-first="1"
                            >
                            <!--  -->
                            <th
                                    style="color: rgb(128, 128, 128) !important"
                                >
                                <div class="d-flex ">
                                    <span
                                            style="cursor: pointer">
                                    </span>
                                </div>
                            </th>
                            <!--id-->
                            <th
                                    data-filter-value="0"
                                    data-filter="id"
                                    style="color: rgb(128, 128, 128) !important"
                                >
                                <div class="d-flex ">
                                    <span
                                            style="cursor: pointer"
                                            data-filter="id"
                                            >ID
                                    </span>
                                    <icon
                                        data-filter="id"
                                        class="material-icons material-symbols-outlined invisible"
                                        style="
                                            cursor: pointer;
                                            
                                        "
                                    >
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <!-- Application_number -->
                            <th
                                    data-filter-value="0"
                                    data-filter="Application_number"
                                    style="color: rgb(128, 128, 128) !important"
                                >
                                <div class="d-flex ">
                                    <span
                                            style="cursor: pointer"
                                            data-filter="Application_number"
                                            >Application Number</span
                                        >
                                        <icon
                                            data-filter="Application_number"
                                            class="material-icons material-symbols-outlined invisible"
                                            style="
                                                cursor: pointer;
                                                
                                            "
                                        >
                                            straight
                                        </icon>
                                </div>
                            </th>      
                             <!-- user_name -->
                            <th
                                    data-filter-value="0"
                                    data-filter="user_name"
                                    style="color: rgb(128, 128, 128) !important"
                                >
                                <div class="d-flex ">
                                    <span
                                            style="cursor: pointer"
                                            data-filter="user_name"
                                            >User Name
                                    </span >
                                    <icon
                                        data-filter="user_name"
                                        class="material-icons material-symbols-outlined invisible"
                                        style="
                                            cursor: pointer;
                                            
                                        "
                                    >
                                        straight
                                    </icon>
                                </div>
                            </th>                    
                            <!-- Phone_Number -->
                            <th
                                    data-filter-value="0"
                                    data-filter="Phone_Number"
                                    style="color: rgb(128, 128, 128) !important"
                                >
                                <div class="d-flex ">
                                    <span
                                            style="cursor: pointer"
                                            data-filter="Phone_Number"
                                            >Phone Number
                                    </span >
                                    <icon
                                        data-filter="Phone_Number"
                                        class="material-icons material-symbols-outlined invisible"
                                        style="
                                            cursor: pointer;
                                            
                                        "
                                    >
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <!-- card_issuer -->
                            <th
                                        data-filter-value="0"
                                        data-filter="IssuerName"
                                        style="color: rgb(128, 128, 128) !important"
                                    >
                                    <div class="d-flex ">
                                        <span
                                                style="cursor: pointer"
                                                data-filter="IssuerName"
                                                >Card Issuer
                                        </span>
                                        <icon
                                            data-filter="IssuerName"
                                            class="material-icons material-symbols-outlined invisible"
                                            style="
                                                cursor: pointer;
                                                
                                            "
                                        >
                                            straight
                                        </icon>
                                    </div>
                            </th>
                            <!-- credit_card -->
                            <th
                                        data-filter-value="0"
                                        data-filter="CreditCardName"
                                        style="color: rgb(128, 128, 128) !important"
                                    >
                                    <div class="d-flex ">
                                        <span
                                                style="cursor: pointer"
                                                data-filter="CreditCardName"
                                                >Credit Card
                                        </span>
                                        <icon
                                            data-filter="CreditCardName"
                                            class="material-icons material-symbols-outlined invisible"
                                            style="
                                                cursor: pointer;
                                                
                                            "
                                        >
                                            straight
                                        </icon>
                                    </div>
                            </th>
                            <!-- Application_date -->
                            <th
                                    data-filter-value="0"
                                    data-filter="Application_date"
                                    style="color: rgb(128, 128, 128) !important"
                                >
                                <div class="d-flex ">
                                <span
                                        style="cursor: pointer"
                                        data-filter="Application_date"
                                        >Application Date</span
                                    >
                                    <icon
                                        data-filter="Application_date"
                                        class="material-icons material-symbols-outlined invisible"
                                        style="
                                            cursor: pointer;
                                            
                                        "
                                    >
                                        straight
                                    </icon>
                            
                                </div>
                            </th>
                            <!-- Cashback_applicable -->
                            <th
                                    data-filter-value="0"
                                    data-filter="Cashback_applicable"
                                    style="color: rgb(128, 128, 128) !important;"
                                >
                                <div class="d-flex " style="width:100px !important">
                                    <span
                                            style="cursor: pointer"
                                            data-filter="Cashback_applicable"
                                            >Cashback Applicable
                                    </span>
                                    <icon
                                        data-filter="Cashback_applicable"
                                        class="material-icons material-symbols-outlined invisible"
                                        style="
                                            cursor: pointer;
                                            
                                        "
                                    >
                                        straight
                                    </icon>
                                </div>
                            </th>
                             <!-- Cashback_to_be_paid -->
                            <th
                                    data-filter-value="0"
                                    data-filter="Cashback_to_be_paid"
                                    style="color: rgb(128, 128, 128) !important;"
                                >
                                <div class="d-flex " style="width:100px !important">
                                    <span
                                            style="cursor: pointer"
                                            data-filter="Cashback_to_be_paid"
                                            >Cashback
                                    </span>
                                    <icon
                                        data-filter="Cashback_to_be_paid"
                                        class="material-icons material-symbols-outlined invisible"
                                        style="
                                            cursor: pointer;
                                            
                                        "
                                    >
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <!-- Cashback_paid -->
                            <th
                                    data-filter-value="0"
                                    data-filter="Cashback_paid"
                                    style="color: rgb(128, 128, 128) !important"
                                >
                                <div class="d-flex ">
                                    <span
                                            style="cursor: pointer"
                                            data-filter="Cashback_paid"
                                            >Cashback Paid
                                    </span>
                                    <icon
                                        data-filter="Cashback_paid"
                                        class="material-icons material-symbols-outlined invisible"
                                        style="
                                            cursor: pointer;
                                            
                                        "
                                    >
                                        straight
                                    </icon>
                                </div>
                            </th>
                            <!-- Actions -->
                            <th
                                    data-filter-value="0"
                                    style="color: rgb(128, 128, 128) !important"
                                >
                                <div class="d-flex ">
                                <span
                                        style="cursor: pointer"
                                        data-filter="Actions"
                                        >Actions</span
                                    >
                            </div>
                            </th>
                        </tr>
                        </thead>

                        <tr id="table-filter-row"   style="border-bottom: 1px solid rgb(199, 199, 199) ; background: #e4ebfd;">
                            <th>
                                <input class="form-check-input" type="checkbox" value="" id="allCheck" style=" width: 20px; height: 20px;">
                            </th>
                             <th>
                                <input
                                    type="text"
                                    name="id"
                                    class="form-control"
                                    style="width:50px;"
                                    id="id"
                                />
                            </th>
                            <th>
                                <input
                                    type="text"
                                    name="Application_number"
                                    class="form-control"
                                    style="width:120px;"
                                    id="Application_number"
                                />
                            </th>
                            <th>
                                <input
                                    type="text"
                                    name="user_name"
                                    class="form-control"
                                    style="width:100px;"
                                    id="user_name"
                                />
                            </th>
                            <th>
                                <input
                                    type="text"
                                    name="Phone_Number"
                                    class="form-control"
                                    style="width:90px;"
                                    id="Phone_Number"
                                />
                            </th>
                            <th>
                                <select
                                    id="card-issuer-options"
                                    name="card_issuer"
                                    class="form-control"
                                    style="width:80px"
                                ></select>
                            </th>
                            <th>
                                <select
                                    id="credit-card-options"
                                    name="credit_card"
                                    class="form-control"
                                    style="width:180px"
                                ></select>
                            </th>
                            <th>
                                <div class="d-flex" style="margin-bottom: 2px">
                                    <span
                                        style="
                                            font-size: 12px;
                                            width: 40px;
                                            color: rgb(
                                                128,
                                                128,
                                                128
                                            ) !important;
                                        "
                                        >From</span
                                    >
                                    <input
                                        type="date"
                                        id="from_application_date"
                                        name="from_application_date"
                                        class="form-control"
                                        placeholder="yyyy-mm-dd"
                                        style="
                                            width: 90px;
                                            padding: 0;
                                            height: 20px;
                                            border-radius: 2px;
                                            font-size: 11px;
                                        "
                                    />
                                </div>

                                <div class="d-flex">
                                    <span
                                        style="
                                            font-size: 12px;
                                            width: 40px;
                                            color: rgb(
                                                128,
                                                128,
                                                128
                                            ) !important;
                                        "
                                        >To
                                    </span>
                                    <input
                                        type="date"
                                        id="to_application_date"
                                        name="to_application_date"
                                        class="form-control"
                                        style="
                                            width: 90px;
                                            padding: 0;
                                            height: 20px;
                                            border-radius: 2px;
                                            font-size: 11px;
                                        "
                                    />
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                        <select class='form-control' style="width:80px;" id="Cashback_applicable" name="Cashback_applicable">
                                            <option value="">Select </option>
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                            
                                        </select>
                                </div>
                            </th>
                            <th>
                                <select
                                    id="Cashback_to_be_paid-options"
                                    name="Cashback_to_be_paid"
                                    class="form-control"
                                    style="width:80px"
                                >
                                    <option selected value="">Select</option>
                                    <option value="300">300</option>
                                    <option value="600">600</option>
                                    <option value="800">800</option>
                                    <option value="1000">1000</option>
                                </select>
                            </th>
                            <th>
                                <div class="d-flex justify-content-center">
                                        <select class='form-control' style="width:80px;" id="Cashback_paid" name="Cashback_paid">
                                            <option value="">Select </option>
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                            
                                        </select>
                                </div>
                            </th>
                            <th>
                                <div  ><button style="margin: 0;" class="ci-btn" id="payAll" disabled >Pay</button></div>
                            </th>
                        </tr>
                        <tbody id="data-to-show">
                            <tr>
                                <td colspan="10">
                                    <div class="d-flex justify-content-center align-items-center">
                                                <div class="sbl-circ-path"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td
                                    colspan="10"
                                    style="
                                        text-align: center;
                                        color: black !important;
                                    "
                                >
                                    <div
                                        class="display: flex; align-items: center; justify-content: center; flex-direction: column;"
                                    >
                                    <%# prevPageBtn %>
                                        <span
                                            class="material-icons material-symbols-outlined"
                                            style="
                                                position: relative;
                                                top: 4px;
                                                right: 8px;
                                                font-size: 18px;
                                                color: white;
                                                background: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                                padding: 2px;
                                                border-radius: 50%;
                                                cursor: pointer;
                                            "
                                            id="prevPage"
                                        >
                                            west
                                        </span>
                                    <%# total pages label %>
                                        <label
                                            for="pageNo"
                                            style="
                                                margin-right: 10px;
                                                color: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                            "
                                            >Page No:</label
                                        >
                                    <%# input %>
                                        <input
                                            type="number"
                                            style="
                                                width: 50px;
                                                display: inline;
                                                height: 20px;
                                                border-radius: 0 !important;
                                                padding-right: 0 !important;
                                                padding-left: 2px !important;
                                            "
                                            id="page-no"
                                            name="pageNo"
                                            class="form-control"
                                            max="50"
                                            min="1"
                                            value="1"
                                        />
                                    <%# /50 %>    
                                    
                                        <span
                                            style="
                                                margin-left: 10px;
                                                color: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                            "
                                            id="pages"
                                            >/ 50</span
                                        >
                                    <%# no of entries %>    

                                        <span
                                            style="
                                                margin-left: 10px;
                                                color: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                            "
                                            id="entries"
                                            >(2000 entries)</span
                                        >
                                    
                                        <span
                                            class="material-icons material-symbols-outlined"
                                            style="
                                                position: relative;
                                                top: 4px;
                                                left: 8px;
                                                font-size: 18px;
                                                color: white;
                                                background: rgb(
                                                    128,
                                                    128,
                                                    128
                                                ) !important;
                                                padding: 2px;
                                                border-radius: 50%;
                                                cursor: pointer;
                                            "
                                            id="nextPage"
                                        >
                                            east
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        <!-- Javascripts -->
        <script src="./admin/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
        <script src="./admin/assets/plugins/bootstrap/js/popper.min.js"></script>
        <script src="./admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="./admin/assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
        <script src="./admin/assets/plugins/pace/pace.min.js"></script>
        <script src="./admin/assets/plugins/highlight/highlight.pack.js"></script>
        <script src="./admin/assets/js/main.min.js"></script>
        <script src="./admin/assets/js/custom.js"></script>
        <script src="./admin/assets/plugins/flatpickr/flatpickr.js"></script>
        <script src="./admin/assets/js/utils/blockModalsEsacping.js"></script>
        <script src="./admin/assets/js/common.js"></script>
        <script src="./admin/assets/js/approvedApplications.js"></script>
    </body>
</html>
